@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*{
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}

/* ################# HTML Classes Styling ################### */

html{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
}

ul li{
    list-style: none;
}

a{
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
}

p,li{
    margin-bottom: 0.5em;
    font-size: 1.6rem;
    letter-spacing: 0.15em;
}

h1,h2,h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
    /* text-transform: uppercase; */
}

/* ################### Utility Classes Styling ##################### */

.container{
    max-width:1200px;
    width: 90%;
    margin: 0 auto;
}

.lg-heading{
    font-size: 3.5rem;
}

.md-heading{
    font-size: 2.2rem;
}

.text-red{
    color: #e63946;
}

.text-light{
    color: #f4f4f4;
}

.text-black{
    color: #333333;
}

.text-grey{
    color: #555555;
}


.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em , 0em;
    background-color: #ffff;
    text-align: center;
}

.btn-primary{
    border: 1.5px solid #e63946;
    border-radius: 1.5em;
}

.btn-secondary{
    border: 1.5px solid #e63946;
    border-radius: 1.5em;
}

.btn-primary:hover{
/* background-color: #e7e1e4; */
background-color: #ddd;
}

.btn-secondary:hover{
background-color: #fcf3f2;
}

.bg-dark{
    background-color: #263238;
}


/* ####################### Header Styling ######################## */

.header{
    position: relative;
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,0.5) , rgba(0,0,0,0.5)) , url('../img/header-image.jpg');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navigation{
    /* border: 2px solid white; */
    padding: 1rem;
}

 .navigation .logo{
    background: linear-gradient(rgb(17 17 29) , rgb(37 102 102)) , url('https://img.icons8.com/hands/100/experimental-place-marker-hands.png');
    float: left;
    border-radius: 50px;
    padding: 4px;
    height: 11vh; 
    width: 5vw; 
    /* display: block;
    box-sizing: border-box; */
    margin-top: 1.5em;
}

 .navigation .nav-items{
    float: right;
    margin-top: 1rem;
}
 .navigation .nav-item{
    display: inline-block;
    padding: 1rem;
}

.navigation a:link,
.navigation a:visited{
    color: #f4f4f4;
}

.navigation a{
    padding-bottom: 0.3rem;
}

.navigation a:hover{
    cursor: pointer;
    border-bottom: 1px solid #fff;
}

.navigation::after{
    content: "";
    display: block;
    clear: both;
}

/* ############ Header Content Styling ############# */

.header-content{
    /* border: 1px solid white; */
    position: absolute;
    top: 60%;
    left: 50%;
    text-align: center;
    transform : translate(-50% , -60%);
    background: linear-gradient(rgba(0,0,0,0.2) , rgba(0,0,0,0.2));
}

.header-content h1{
    text-transform: uppercase;
    font-weight: 700;
}

.header-content p{
    text-transform: uppercase;
}



/* ############### Showcase Section Styling ############### */
.showcase{
    background: #ddd;
    padding: 10rem 0;
}

.row{
    height: 350px;
    /* border: 2px solid red; */
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.418);
}

.row1{
    margin-bottom: 10rem;
}

.row1 .img-box , .row2 .text-box{
    float: left;
    width: 50%;
}

.row2 .img-box , .row1 .text-box{
    float: right;
    width: 50%;
}

.row .img-box{
    /* border: 2px solid green; */
    height: 100%;
}

.row .text-box{
    /* border: 2px solid purple; */
    padding: 3rem;
}

/* ########### Image Styling ############# */

.row .img-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.text-box h2{
    text-transform: uppercase;
}

/* ################### Features Section Styling ################# */

.features{
    padding: 10rem 0;
}

.box-wrapper{
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.418);
}

.box{
    width: 33.333%;
    height: 100%;
    float: left;
    /* border: 2px solid black; */
    padding: 2rem;
    text-align: center;
    
}

.box1 , .box3{
    background-color: #263238;
}

.box2{
    background: linear-gradient(25deg, #d64c7f , #ee4758 50%);
}

.box-wrapper:after{
    content: "";
    display: block;
    clear: both;
}

/* ############# Footer Styling ##############  */

.footer{
    background-color: #263238;
    padding: 2rem;
    color: #f4f4f4;
    text-align: center;
}

.social-media-links i{
    margin: 2rem;
}


/* ################### ABOUT PAGE STYLING ##################### */

.about-page{
    padding: 5rem 0;
}

/* .about-heading{
    border-bottom: 6px solid #e63946;
} */

.about-heading::after{
    content: '';
    display: block;
    border: 3px solid #e63946;
    width: 100%;
}


/* ############## About Wrapper Styling ###############  */

.about-wrapper{
    /* border: 2px solid black; */
    text-align: center;
    margin-top: 2em;
}

.container .about-wrapper .left-float{
    float: left;
    width: 50%;
    /* list-style:none; */
}

.container .about-wrapper .right-float{
    float: right;
    width: 50%;
    /* list-style:none; */
}

.about-wrapper ul ::before{
    /* content:'✓'; */
    content: '\2713';
    color: #e63946;
    padding-right: 1em;
    font-weight: bold;
}    

.about-wrapper::after{
    content: '';
    clear: both;
    display: block;
}


/* ########### Count Styling ############# */

.counts{
    /* display: flex; */
    /* float: left; */
    /* justify-content: space-around; */
    /* width: 25%; */
    /* border: 2px solid black; */
    margin-top: 3rem;
}

.count-items{
    float: left;
    /* border: 2px solid green; */
    width: 25%;
    text-align: center;
}

.count-items span{
    font-weight: 700;
    font-size: 3rem;
}

.count-items{
    font-weight: 700;
    font-size: 1.8rem;
}

.counts::after{
    content: '';
    display: block;
    clear: both;
}


/* ########### Banner-details Styling ############ */

.banner-details{
    /* border: 2px solid black; */
    padding: 1rem;
    background: linear-gradient(25deg, #d64c7f , #ee4758 50%);
    margin-top: 3rem;
    box-shadow: 5px 5px 10px #00000057;
    margin-top: 3rem;
}

.para-left{
    float: left;
    width: 60%;
}
.para-right{
    float: right;
    width: 40%;
    /* border: 4px solid #fff ; */
    text-align: right;
}

.banner-line{
    font-weight: 700;
    font-size: 2rem;
    margin-top: 1.5rem;
}

.btn-cta{
    /* margin-top: 1.5rem; */
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: 'center';
    border: 4px solid #fff ;
    padding: 0.3em 2.5em;
    letter-spacing: 0.5rem;
    display:inline-block;
}

.banner-details::after{
    content: '';
    display: block;
    clear: both;
}


/* ############# Contact Page Styling ############### */

.contact-form{
    padding: 5rem;
    /* font-size: 2rem; */
    background: #ddd;
    /* box-shadow: 5px 5px 10px #00000057; */
    box-sizing: border-box;
    /* background: #f7f7f7; */
}

.form-wrapper .company-address{
    height: 760px;
    background: #fff;
    /* border: 4px solid green; */
    border-radius: 40px;
    float: left;
    width: 49%;
    padding: 1rem;
    /* box-shadow: #333333; */
    box-shadow: 5px 5px 10px #00000057;
}

.form .company-address a,p{
    text-transform: lowercase;
}

.form-wrapper .company-address i{
    display: inline-block;
    margin-right: 1rem;
}

.form-wrapper .company-address h2{
    display: inline-block;
    text-transform: uppercase;
}

.form-wrapper .address-group{
    margin-bottom: 3rem;
}

.form-wrapper .company-address img{
    max-width: 100%;
    min-height: 40rem;
    /* border: 2px solid black; */
    border-radius: 5px 50px;
    object-fit: cover;
    object-position: right;
    background-repeat: no-repeat;

}

.form-wrapper::after{
    content: '';
    display: block;
    clear: both;
}
 

/* ############# Form Styling ############### */

.form-wrapper .form{
    height: 760px;
    font-size: 1.6rem;
    background: #fff;
    /* border: 4px solid black; */
    float: right;
    width: 49%;
    padding: 1rem;
    border-radius: 40px;
    box-shadow: 5px 5px 10px #00000057;
}

.form h1::after{
    content: '';
    display: block;
    border: 3px solid #e63946;
    width: 100%;
}

.form-wrapper .form label{
    display: block;
}
.form-wrapper .form input{
    padding: 0.5em;
    width: 100%;
}

.form-wrapper .form .form-group{
    margin-bottom: 1.2rem;
}

.form-wrapper .form label::after{
    content: '*';
    color: #e63946;
}

.form-wrapper .form textarea{
    width: 100%;
    height: 250px;
    padding: 1rem;
}

.form-btn{
    background-color: #e63946;
    color: #fff;
    padding: 0.5em 0.3em;
    display: block;
    margin: 0px auto;
    font-size: 1.8rem;
    text-transform: uppercase;
    outline: none;
    border: none;
    cursor: pointer;
    /* border-radius: 2px; */
}
.form-btn:hover{
    background-color: #5d171d;
}


/* ################# Media Queries ##############  */

@media (max-width:500px){
    html{
        font-size: 50%;
    }

    .navigation .nav-items , .navigation .logo{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }

    .row{
        height: auto;
        width: 100%;
    }

    .row .img-box ,
    .row .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }

    .features .box{
        float: none;
        width: 100%;
        text-align: center;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.418);
    }

    .features .box2,
    .features .box3{
        margin-top: 7rem;
    }

    .box-wrapper{
        font-family: 'Poppins', sans-serif;
        box-shadow: none;
    }

     .para-left, .para-right{
        float: none;
        width: 100%;
        text-align: center;
    }

    .form-wrapper .company-address{
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
    }

    .form-wrapper .form{
        float: none;
        width: 100%;
        height: auto;
    }
}

@media (min-width:501px) and (max-width:768px) {
    html{
        font-size: 50%;
    }

    p{
        font-size: 1.8rem;
    }

    .navigation .nav-items , .navigation .logo{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }

    .row{
        height: auto;
        width: 100%;
    }

    .row .img-box ,
    .row .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }

    .features .box{
        float: none;
        width: 100%;
        text-align: center;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.418);
    }

    .features .box2,
    .features .box3{
        margin-top: 7rem;
    }

    .box-wrapper{
        font-family:popi;
        box-shadow: none;
    }

     .para-left, .para-right{
        float: none;
        width: 100%;
        text-align: center;
    }

    .form-wrapper .company-address{
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
    }

    .form-wrapper .form{
        float: none;
        width: 100%;
        height: auto;
    }
}

@media (min-width:769px) and (max-width:1200px){
    html{
        font-size: 56.25%;
    }

    .row .text-box h2{
        font-size: 2.5rem;
        font-weight: 500;
    }

    .para-left, .para-right{
        float: none;
        width: 100%;
        text-align: center;
    }
}

@media (orientation: landscape) and (max-height:500px){
    .header{
        height: 90vmax;
    }
}